@use "colors";
@use "typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__grid {
    // background-color: rgba(127, 255, 212, 0.329);
    width: 85%;
    height: 100%;
    
  }
}
