@use "colors";
@use "typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  &__container {
    padding: 4rem 0 0 0;
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__grid {
    background-color: aquamarine;
    width: 90%;
    height: 100%;

  }
}
