@use "../../styles/colors";
@use "../../styles/typography";

header {
  margin-top: 6rem;
  height: 734px;
  // background-color:aqua ;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  margin-bottom: 6rem;
 
  button {
    background-color: colors.$preto;
    color: colors.$branco;
    height: 40px;
    width: 120px;
    border: none;
    font-family: typography.$poppinsFont;
    font-weight: 600;
    cursor: pointer;
  }
}

.header {
  &__flex {
    display: flex;
    justify-content: space-between;
  }
}
