@use "../../styles/colors";
@use "../../styles/typography";

.header {
  &__container {
    margin: 0 auto;
    margin-top: 6rem;
    width: 90%;
    position: relative;

    .center {
      top: 100px;
      position: relative;
      width: 20px;
      margin: 0 auto;
    }

    .arrowIcon {
      width: 100%;
      height: auto;
    }

    .authentication {
      margin-right: 5rem;
      font-size: 2rem;
      span {
        margin-left: 0.5rem;
        color: colors.$verdeClaro;
      }
    }
  }

  &__sala {
    img {
      filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.541));
    }
  }

  // Nav
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: colors.$preto;
      color: colors.$branco;
      height: 40px;
      width: 120px;
      border: none;
      font-family: typography.$poppinsFont;
      font-weight: 600;
      cursor: pointer;
    }
  }

  // First Block
  &__flex {
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    h1 {
      font-size: 8rem;
      font-weight: 700;
      line-height: 6.4rem;
    }

    p {
      font-size: 2.5rem;
      font-weight: 600;
    }

    .dayle {
      color: colors.$verdeClaro;
      font-size: 6rem;
      margin-bottom: 56px;
      font-weight: lighter;
    }

    .margin {
      margin-bottom: 44px;
    }

    // Button
    button {
      background-color: colors.$verdeClaro;
      width: 300px;
      height: 64px;
      color: colors.$branco;
      font-size: 2.5rem;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }
}
