@use "../../styles/colors";
@use "../../styles/typography";

.section {
  // BackGround and title
  &__container {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 10rem;

    .line {
      background-color: colors.$verdeClaro;
      width: 297px;
      height: 4px;
    }

    .graphismIMG {
      position: absolute;
      left: 0;
      top: 530px;
      z-index: -1;
    }
  }

  &__bg {
    width: 100%;
    height: 480px;
    background-image: url("../../Assets/img/Section-blackBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
  }

  // Texts
  &__description {
    text-align: center;
    max-width: 600px;
    margin-top: 34px;
    color: colors.$branco;
    font-size: 2.5rem;
  }

  &__title {
    font-size: 6rem;
    color: colors.$branco;
    font-family: typography.$poppinsFont;
    line-height: 6rem;
  }

  // Todo Cards
  &__cards {
    width: 80%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
}
